@model StocksApp.Models.Stock
@{
    ViewBag.Title = "Home";
}
<h1>Home Page</h1>

<div class="box">
    <div class="flex">
       <h1>@Model.StockSymbol</h1>
       <table>
           <tbody>
               <tr>
                   <td>Current: </td>
                   <th><small>$</small>@Model.CurrentPrice.ToString("N")</th>
               </tr>
                <tr>
                   <td>Highest: </td>
                   <th><small>$</small>@Model.HighestPrice.ToString("N")</th>
               </tr>
                <tr>
                   <td>Lowest: </td>
                   <th><small>$</small>@Model.LowestPrice.ToString("N")</th>
               </tr>
                <tr>
                    <td>Open: </td>
                    <th><small>$</small>@Model.OpenPrice.ToString("N")</th>
                </tr>
           </tbody>
       </table>

    </div>
</div>


